@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  border: none;
}

.App {
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  width: 100%;
}

.Container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
