.container-ratings {
  display: flex;
  justify-content: space-between;
  margin-top: 1.75rem;
}

.container-ratings .circle-star {
  background-color: var(--Medium-Grey);
  border-radius: 50%;
  padding: 0.8em 1.2em;
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
}

.container-ratings .circle-star:hover {
  background-color: var(--Light-Grey);
}

.container-ratings .circle-star:active {
  background-color: var(--Orange);
}

.container-ratings .selected {
  background-color: var(--Light-Grey);
}

.container-ratings .number {
  color: var(--White);
  font-size: 1rem;
}
